/* IMPORT */
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

body {
    margin: 0;
    font-family: 'Gochi Hand', cursive;
}

a {
    color: #000;
    text-decoration: none;
}

nav {
    padding: 1em 10em 1em 10em;
    background-color: #fff;
    overflow: hidden;
    transition: background-color ease-in-out 1s;
}

nav:hover {
    background-color: #f1f2f6;
}

.nav-logo {
    width: 100px;
    display: inline-block;
    float: left;
}

.nav-nav {
    list-style: none;
    float: right;
}

.nav-nav li {
    display: inline-block;
    margin-right: 2em;
    margin-top: 13px;
}

.nav-nav li a {
    font-size: 25px;
}