/* IMPORT */
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

body {
    margin: 0;
    font-family: 'Gochi Hand', cursive;
}

a {
    color: #000;
    text-decoration: none;
}

.bar {
    border: 1px solid #bdc3c7;
    width: 50%;
    display: inline-block;
}

/* Navigation Bar */

nav {
    padding: 1em 10em 1em 10em;
    background-color: #fff;
    overflow: hidden;
    transition: background-color ease-in-out 1s;
}

nav:hover {
    background-color: #f1f2f6;
}

.nav-logo {
    width: 100px;
    display: inline-block;
    float: left;
}

.nav-nav {
    list-style: none;
    float: right;
}

.nav-nav li {
    display: inline-block;
    padding-right: 2em;
    padding-top: 13px;
    transition: background-image ease-in-out 1s;
}

.nav-nav li:hover {
    background-image: url("../img/trace-de-peinture-rouge.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-nav li a {
    font-size: 25px;
}

/* Header */

header {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/51/Fr%C3%A9mainville_%2895%29%2C_ancienne_distillerie%2C_pr%C3%A8s_de_la_RD_43.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header h1 {
    text-align: center;
    font-size: 55px;
    padding: 3em 0 3em 0;
    margin: 0;
}

/* Fakes Body Settings */
.fakebody {
    padding: 1em 0 1em 0;
    width: 1050px;
    margin: 0 auto;
    overflow: hidden;
    background-color: red;
}

.fakebody-left {
    padding: 1em 0 1em 0;
    width: 690px;
    float: left;
    background-color: saddlebrown;
}

.fakebody-right {
    padding: 1em 0 1em 0;
    width: 350px;
    float: right;
    background-color: greenyellow;
}

/* Feed on Left */ 

.fakebody-left .feed .feed-image img {
    width: 300px;
    float: left;
}

.fakebody-left .feed .feed-text {
    width: 390px;
    float: right;
    background-color: goldenrod;
}

.fakebody-left .feed .feed-text h1 {
    margin: 0;
    font-size: 40px;
}

.fakebody-left .feed .feed-text p {
    margin: 0;
    font-size: 12px;
}

.fakebody-left .feed .feed-text h3 {
    margin: 0;
    font-size: 18px;
}

.fakebody-left .feed .feed-text .bar {
    margin: 5px 0 5px 0;
}

.fakebody-left .feed .feed-text a {
    margin: 0;
    padding: 1em;
    background-color: #000;
    color: #fff;
    display: inline-block;
    transition: border-radius ease-in-out 1s;
}

.fakebody-left .feed .feed-text:hover a {
    margin: 0;
    padding: 1em;
    border-radius: 30px;
    color: #fff;
}

.fakebody-left .bar {
    width: 95%;
    float: left;
    margin: 10px;
}

/* Profil des Artistes */
.fakebody-right .feed .feed-artistes {
    background-color: teal;
}

.fakebody-right .feed .feed-artistes .feed-artistes-profile {
    width: 140px;
    height: 50px;
    background-color: #2C2F33;
    border-radius: 20px;
    margin-left: 10px;
    display: inline-block;
}

.fakebody-right .feed .feed-artistes .feed-artistes-profile .feed-artistes-profile-image img {
    width: 50px;
    display: inline-block;
    float: left;
    border-radius: 20px 0 0 20px;
}

.fakebody-right .feed .feed-artistes .feed-artistes-profile .feed-artistes-profile-name{
    float: right;
    margin-right: 10px;
    color: white;
}